@font-face {
  font-family: 'UTM Banque';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/UTM BanqueR.ttf') format('truetype');
}

@font-face {
  font-family: 'UTM Banque';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/UTM BanqueB.ttf') format('truetype');
}
